#Rectangle_1 {
		fill: rgba(7,65,63,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_1 {
		position: absolute;
		overflow: visible;
		width: 1298px;
		height: 834px;
		left: 261px;
		top: 45px;
	}
	#Rectangle_2 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_2 {
		position: absolute;
		overflow: visible;
		width: 1px;
		height: 23px;
		left: 0px;
		top: 0px;
	}
	#Path_1 {
		fill: rgba(248,254,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_1 {
		overflow: visible;
		position: absolute;
		width: 1298px;
		height: 834px;
		left: 256.708px;
		top: 45px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_19 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_19 {
		overflow: visible;
		position: absolute;
		width: 303.276px;
		height: 14.587px;
		transform: matrix(1,0,0,1,205.8804,148.607) rotate(-48deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Path_18 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_18 {
		overflow: visible;
		position: absolute;
		width: 232.653px;
		height: 11.132px;
		transform: matrix(1,0,0,1,219.7055,120.7987) rotate(-48deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Path_20 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_20 {
		overflow: visible;
		position: absolute;
		width: 294.369px;
		height: 9.819px;
		transform: matrix(1,0,0,1,1307.68,778.8402) rotate(-43deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Path_2 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_2 {
		overflow: visible;
		position: absolute;
		width: 243.588px;
		height: 14.785px;
		transform: matrix(1,0,0,1,1352.9754,792.2254) rotate(-45deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Path_6 {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_6 {
		overflow: visible;
		position: absolute;
		width: 988.985px;
		height: 3.398px;
		left: 512.518px;
		top: 61.102px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_11 {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_11 {
		overflow: visible;
		position: absolute;
		width: 897.232px;
		height: 3px;
		left: 501px;
		top: 81px;
		transform: matrix(1,0,0,1,0,0);
	}
	#CS_CODENZ {
		left: 646px;
		top: 86px;
		position: absolute;
		overflow: visible;
		width: 422px;
		white-space: nowrap;
		text-align: left;
		font-family: Constantia;
		font-style: normal;
		font-weight: bold;
		font-size: 75px;
		color: rgba(11,66,159,1);
	}
	#Learn_Here__Lead_Anywhere {
		left: 625px;
		top: 165px;
		position: absolute;
		overflow: visible;
		width: 464px;
		white-space: nowrap;
		text-align: left;
		font-family: Constantia;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(242,11,74,1);
	}
	#Educational_Society__Regd_No__ {
		left: 642px;
		top: 209px;
		position: absolute;
		overflow: visible;
		width: 431px;
		white-space: nowrap;
		text-align: left;
		font-family: Constantia;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(6,156,81,1);
	}
	#Line_3 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_3 {
		overflow: visible;
		position: absolute;
		width: 4px;
		height: 460.009px;
		left: 281.5px;
		top: 299.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_27 {
		fill: transparent;
		stroke: rgba(13,13,13,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_27 {
		overflow: visible;
		position: absolute;
		width: 4px;
		height: 131.031px;
		left: 1500.5px;
		top: 61.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_29 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_29 {
		overflow: visible;
		position: absolute;
		width: 30px;
		height: 2px;
		left: 1501.5px;
		top: 192.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_30 {
		fill: transparent;
		stroke: rgba(12,11,11,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_30 {
		overflow: visible;
		position: absolute;
		width: 3px;
		height: 441.005px;
		left: 1530.5px;
		top: 218.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_7 {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_7 {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 140.045px;
		left: 1477.16px;
		top: 79.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_15 {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_15 {
		overflow: visible;
		position: absolute;
		width: 77.32px;
		height: 2px;
		left: 1476.5px;
		top: 80.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_35 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_35 {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 23px;
		left: 1530.16px;
		top: 57.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_36 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_36 {
		overflow: visible;
		position: absolute;
		width: 54.698px;
		height: 2.377px;
		left: 1476.816px;
		top: 137.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_38 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_38 {
		overflow: visible;
		position: absolute;
		width: 78px;
		height: 2px;
		left: 1398.5px;
		top: 137.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_39 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_39 {
		overflow: visible;
		position: absolute;
		width: 51px;
		height: 2px;
		left: 1453.5px;
		top: 165.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_40 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_40 {
		overflow: visible;
		position: absolute;
		width: 3px;
		height: 61.033px;
		left: 1453.5px;
		top: 105.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_10 {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_10 {
		overflow: visible;
		position: absolute;
		width: 28.689px;
		height: 2px;
		left: 1423.443px;
		top: 109.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_42 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_42 {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 29px;
		left: 1424.5px;
		top: 80.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_17 {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_17 {
		overflow: visible;
		position: absolute;
		width: 31.069px;
		height: 2px;
		left: 1423.443px;
		top: 80.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_44 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_44 {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 28px;
		left: 1453.5px;
		top: 81.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_45 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_45 {
		overflow: visible;
		position: absolute;
		width: 103.332px;
		height: 2.623px;
		left: 1450.5px;
		top: 108.877px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_46 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_46 {
		overflow: visible;
		position: absolute;
		width: 2.33px;
		height: 28.406px;
		left: 1530.665px;
		top: 164.549px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_16 {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_16 {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 64.542px;
		left: 1530.16px;
		top: 72.958px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_48 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_48 {
		overflow: visible;
		position: absolute;
		width: 54px;
		height: 2px;
		left: 1477.5px;
		top: 218.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Image_1 {
		position: absolute;
		width: 172px;
		height: 141px;
		left: 1268px;
		top: 138px;
		overflow: visible;
	}
	#Certificate_of_Completion {
		left: 501px;
		top: 279px;
		position: absolute;
		overflow: visible;
		width: 720px;
		white-space: nowrap;
		text-align: left;
		font-family: Constantia;
		font-style: normal;
		font-weight: bold;
		font-size: 60px;
		color: rgba(0,75,103,1);
	}
	#n_This_is_to_certify_that {
		left: 679px;
		top: 303px;
		position: absolute;
		overflow: visible;
		width: 355px;
		white-space: nowrap;
		text-align: left;
		font-family: Constantia;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(0,0,0,1);
	}
	#Name {
		left: 767px;
		top: 406px;
		position: absolute;
		overflow: visible;
		width: 131px;
		white-space: nowrap;
		text-align: left;
		font-family: Berlin Sans FB;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		color: rgba(54,51,52,1);
	}
	#has_successfully_completed_the {
		left: 489px;
		top: 471px;
		position: absolute;
		overflow: visible;
		width: 527px;
		white-space: nowrap;
		text-align: left;
		font-family: Constantia;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(54,51,52,1);
	}
	#Course {
		left: 1072px;
		top: 471px;
		position: absolute;
		overflow: visible;
		width: 112px;
		white-space: nowrap;
		text-align: left;
		font-family: Berlin Sans FB;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(54,51,52,1);
	}
	#fromD {
		left: 607px;
		top: 539px;
		position: absolute;
		overflow: visible;
		width: 118px;
		white-space: nowrap;
		text-align: left;
		font-family: Constantia;
		font-style: italic;
		font-weight: normal;
		font-size: 40px;
		color: rgba(54,51,52,1);
	}
	#toD {
		left: 885px;
		top: 539px;
		position: absolute;
		overflow: visible;
		width: 66px;
		white-space: nowrap;
		text-align: left;
		font-family: Constantia;
		font-style: italic;
		font-weight: normal;
		font-size: 40px;
		color: rgba(54,51,52,1);
	}
	#from {
		left: 501px;
		top: 539px;
		position: absolute;
		overflow: visible;
		width: 84px;
		white-space: nowrap;
		text-align: left;
		font-family: Constantia;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(54,51,52,1);
	}
	#to {
		left: 820px;
		top: 539px;
		position: absolute;
		overflow: visible;
		width: 36px;
		white-space: nowrap;
		text-align: left;
		font-family: Constantia;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(54,51,52,1);
	}
	#with {
		left: 1100px;
		top: 539px;
		position: absolute;
		overflow: visible;
		width: 79px;
		white-space: nowrap;
		text-align: left;
		font-family: Constantia;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(54,51,52,1);
	}
	#cName {
		left: 700px;
		top: 621px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: left;
		font-family: Berlin Sans FB;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(54,51,52,1);
	}
	#Path_12 {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 3px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_12 {
		overflow: visible;
		position: absolute;
		width: 895.068px;
		height: 8.006px;
		left: 419.514px;
		top: 857.187px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_4 {
		fill: transparent;
		stroke: rgba(14,15,15,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_4 {
		overflow: visible;
		position: absolute;
		width: 990px;
		height: 2px;
		left: 312.5px;
		top: 873.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_20 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_20 {
		overflow: visible;
		position: absolute;
		width: 59.5px;
		height: 2px;
		left: 313px;
		top: 793.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_21 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_21 {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 46px;
		left: 372.5px;
		top: 792.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_50 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_50 {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 59px;
		left: 1398.5px;
		top: 79.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_17 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_17 {
		overflow: visible;
		position: absolute;
		width: 139.029px;
		height: 4px;
		left: 281.5px;
		top: 818.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_18 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_18 {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 40px;
		left: 419.5px;
		top: 818.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_22 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_22 {
		overflow: visible;
		position: absolute;
		width: 61px;
		height: 2px;
		left: 281.5px;
		top: 758.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_8 {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_8 {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 20.005px;
		left: 396.5px;
		top: 837.517px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_24 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_24 {
		overflow: visible;
		position: absolute;
		width: 24px;
		height: 2px;
		left: 372.5px;
		top: 856.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_25 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_25 {
		overflow: visible;
		position: absolute;
		width: 2.983px;
		height: 18.109px;
		left: 372.5px;
		top: 838.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_26 {
		fill: transparent;
		stroke: rgba(3,3,3,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_26 {
		overflow: visible;
		position: absolute;
		width: 135px;
		height: 2px;
		left: 261.5px;
		top: 838.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_6 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_6 {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 81px;
		left: 312.5px;
		top: 793.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_14 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_14 {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 53px;
		left: 282.5px;
		top: 820.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_4 {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_4 {
		overflow: visible;
		position: absolute;
		width: 15.309px;
		height: 1px;
		transform: matrix(1,0,0,1,304.7118,785.8435) rotate(89deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Line_8 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_8 {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 551px;
		left: 261.5px;
		top: 321.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_3 {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_3 {
		overflow: visible;
		position: absolute;
		width: 81.25px;
		height: 2px;
		left: 261.5px;
		top: 856.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_10 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_10 {
		overflow: visible;
		position: absolute;
		width: 18.593px;
		height: 2px;
		left: 294.5px;
		top: 793.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_5 {
		fill: rgba(0,0,0,0);
		stroke: rgba(7,7,7,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_5 {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 99.884px;
		left: 342.75px;
		top: 757.435px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_14 {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_14 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 1px;
		left: 345px;
		top: 594.795px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_13 {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_13 {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 16.203px;
		left: 294.093px;
		top: 778.19px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_9 {
		fill: rgba(0,0,0,0);
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_9 {
		overflow: visible;
		position: absolute;
		width: 19.912px;
		height: 2px;
		left: 293.063px;
		top: 778.139px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_51 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_51 {
		overflow: visible;
		position: absolute;
		width: 2px;
		height: 16px;
		left: 262.5px;
		top: 856.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_52 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_52 {
		overflow: visible;
		position: absolute;
		width: 21px;
		height: 2px;
		left: 261.5px;
		top: 872.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_53 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_53 {
		overflow: visible;
		position: absolute;
		width: 29px;
		height: 2px;
		left: 1501.5px;
		top: 165.723px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Line_54 {
		fill: transparent;
		stroke: rgba(0,0,0,1);
		stroke-width: 2px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Line_54 {
		overflow: visible;
		position: absolute;
		width: 25px;
		height: 2px;
		left: 1529.5px;
		top: 57.5px;
		transform: matrix(1,0,0,1,0,0);
	}
	#signmain {
		position: absolute;
		width: 329px;
		height: 140px;
		left: 420px;
		top: 687px;
		overflow: visible;
	}
